@import "../../../misc/globalStyles/breakpoints";
@import "../../../misc/globalStyles/variables";
@import "../../../misc/globalStyles/mixins";

.main {
    cursor:pointer;
    background-color: white;
    height:18rem;
    @include flex($dir:column,$jc:space-between);
    border:1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .banner {
        max-width:100%
    }
    .postTitle {
padding:1rem 2.5rem;
font-weight:bold;
letter-spacing: 2px;
    }

    .footer {
        width:100%;
        padding:1rem;
        background-color: rgb(243, 235, 235);
    @include flex($jc:space-between);
    &>div {
        @include flex{
            gap:1rem;
        }
    }
    }
}


