@import "../../misc/globalStyles/mixins";
@import "../../misc/globalStyles/breakpoints";
@import "../../misc/globalStyles/variables";

// Login Component Variables;

//
.main {
  width: 100%;
  min-height: 100vh;
  background-color: $mainGreenColor;
  @include flex;

  form {
    padding: 3rem;
    @include flex($dir: column) {
      gap: 2rem;
    }
    h3 {
      color: white;
      font-size: 2rem;
      text-align:center;
      hr {
        width:3rem;
    }
    }


  }
}
